@charset "utf-8";

a {
    padding: 0em;
}

a:link, a:visited {
    background-color:#373737;
    color: #DCD0C0;
    display: inline-block;
    width: 200px;
    padding: 1em 0em;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

a:hover, a:active {
    color: #373737;
    background: #808080;
}

body {
    margin:0px;
    padding: 6em 0em 0em 0em;
    font-family:"DejaVu Sans", sans-serif;
    background-color: #DCD0C0;
}

footer {
    background-color: #373737;
    color: #DCD0C0;
    bottom: 0px;
    margin: 0px;
    text-align: center;
    width: 100%;
}

footer p {
    color: #DCD0C0;
}

h1 {
    font-size: 2em;
}

h1, h2, h3 {
    text-align: center;
}

header {
    position: fixed;
    width: 100%;
    background-color: #373737;
    color: #DCD0C0;
    margin: 0px;
    padding: 0em;
    top: 0em;
    text-align: center;
}
header h1 {
    padding: 0.5em 0em 0em 0em;
    margin: 0em;
}

nav {
    background-color: #373737;
    color: #DCD0C0;
    padding:0px;
    text-align: center;
}

section {
    color: #373737;
    /* color: #DCD0C0; */
    margin: 0px;
    padding: 0em 1em;
}

ul {
    margin: 0em;
    padding: 0em;
}

.dropbtn {
    font-size: 16px;
    color: #DCD0C0;
    margin: 0em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn:hover {
    background: #808080;
    color: #373737;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #DCD0C0;
    text-decoration: none;
    display: block;
    padding: 1em 0em;
    text-align: center;
}

.dropdown-content a:hover {
    color: #373737;
    background: #808080;
    text-decoration: none;
    display: block;
    padding: 1em 0em;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#map {
    border: 1px dashed black;
    height: 480px;
    width:  100%;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}
