@charset "utf-8";
/* CSS Document */
/*Floatti tuntuu jostakin syystä olevan pakollinen*/

body {
	margin:0px;
	font-family:"DejaVu Sans", sans-serif;
    background-color: #DCD0C0;
}

header {
	background-color: #373737;
    color: #DCD0C0;
	margin:0px;
	padding:1%;
	text-align: center;
}

nav {
    background-color: #373737;
    color: #DCD0C0;
	padding:0px;
	text-align: center;
}

section {
    color: #373737;
    /* color: #DCD0C0; */
    margin: 0px;
}

footer, footer p {
	background-color: #373737;
    color: #DCD0C0;
    margin: 0px;
	text-align: center;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 2em;
}

a:link, a:visited {
    background-color:#373737;
    color: #DCD0C0;
    display:inline-block;
    width: 200px;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

a:hover, a:active {
	background-color:#808080;
    color: #373737;
}

#map {
    border: 1px dashed black;
    height: 480px;
    width:  100%;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}