# To enable php, uncomment the following line and change USER to your userid. e.g., if your username is 'c5431', change /~USER/ to /~c5431/
# Please be aware that PHP scripts will run under your credentials. See ~/instructions/ for further details
Action php-cgi /~K1729/cgi-bin/php-fastcgi

#AddDefaultCharset UTF-8

#DocumentRoot "/home/mammal/public_html/"

#Options +FollowSymLinks
<IfModule mod_rewrite.so>
    RewriteEngine on

    # redirect all api calls to api.php
    RewriteRule "^api$" "api.php" [L,NC]

    # If the request is a file, folder or symlink that exists, serve it up
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # otherwise, serve your index.html app
    RewriteRule ^(.+)$ index.php [L]
</IfModule>
